.white-key {
  height: 17rem;
  width: 4em;
  position: relative;
  background-color: linen;
  border-left: 1px solid black;
}
.white-key:first-of-type {
  border-left: none;
}

.black-key {
  width: 2rem;
  height: 10rem;
  background-color: black;
  position: absolute;
  right: 0;
  transform: translateX(50%);
  z-index: 1;
}

// .white-key:hover {
//   box-shadow: inset 2px 0px 5px gray, inset -2px -2px 5px gray;
// }
