.white-key {
  height: 17rem;
  width: 4em;
  position: relative;
  background-color: linen;
  border-left: 1px solid black;
  box-shadow: inset 0px -5px rgb(112, 112, 109);
}
.white-key:first-of-type {
  border-left: none;
}

.black-key {
  box-shadow: inset 0px -5px rgb(112, 112, 109);
  width: 2rem;
  height: 10rem;
  background-color: black;
  position: absolute;
  right: 0;
  transform: translateX(50%);
  z-index: 1;
}
