@import "font";
@import "piano";
@import "keys";
@import "pedals";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

html {
  font-size: 62%;
  font-family: Autour One, sans-serif;
}
