#pedals {
  height: 3.5rem;
  width: 16rem;
  background: linear-gradient(rgb(104, 63, 63), rgb(238, 89, 89) 20%);
  margin: 0 auto;
  border-radius: 0 0 8px 8px;
  border: 2px solid black;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

#right-pedal {
  height: 2rem;
  width: 3rem;
  background: radial-gradient(#ffff8f, #ffea00, #fdda0d, #ffbf00);
  border: 2px solid black;
  border-radius: 50%;
}

// #right-pedal:active {
//   box-shadow: inset 1px 0px 3px rgb(238, 89, 89),
//     inset -1px -1px 3px rgb(238, 89, 89);
// }
