#piano {
  width: fit-content;
  margin: 3rem auto;
  padding: 2rem;
  padding-top: 7rem;
  border: 2px solid black;
  border-radius: 8px;
  background-image: radial-gradient(#ffff8f, #ffea00, #fdda0d, #ffbf00);
  position: relative;
}
#keyboard {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid black;
}
#brand {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  color: gray;
}
